@keyframes fadein {
    from { opacity: 0; height: 0 }
    to   { height: auto; opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; height: 0 }
    to   { height: auto; opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; height: 0 }
    to   { height: auto; opacity: 1;}
}

  body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .table{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  button {
    display: flex;
    align-self: center;
    cursor: pointer;
    font-size: 12px;
    font-family: system-ui;
  }
  button.learn-more {
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 10px 8px;
    background: #ea6363;
    border: 2px solid #c23e27;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8c2943;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  button.learn-more:hover {
    background: #be6565;
    transform: translate(0, 0.25em);
  }
  button.learn-more:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
  }
  button.learn-more:active {
    background: #e45151;
    transform: translate(0em, 0.75em);
  }
  button.learn-more:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
  }
  h3{
    align-self: center;
    font-size: 25px !important;
    margin: 5px 0px;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width:60%;
    height: fit-content;
  }
  .desc{
    align-self: center;
    text-align: center;
    font-family: system-ui;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0px 0px 10px 0px;
  }
  .desc.active{
    background-color: white;
    height:auto;
  }
  .legend{
    list-style:none;
    display:flex; 
    flex-direction:row; 
    align-self: center;
    align-items: center;
    justify-content: center;
    font-family:system-ui
  }
  .legend li{
    display:flex; 
    flex-direction:row; 
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-right:25px;
  }
  .legend span{
    float:left;
    align-self: center;
    width:15px;
    height:15px;
    margin-right:8px;
  }
  .legend .low{
    background-color:#faa57d;
  }
  .legend .medium{
    background-color:#f24f2c;
  }
  .legend .high{
    background-color:#c40000;
  }
  .legend .veryhigh{
    background-color:#a10b11;
  }
  .legend .insufficientdata{
    background-color: #b1b3b1;
  }
  body > div:not([class]){
    flex-grow: 1 !important;
  }
  @media only screen and (max-width: 768px){
    h3{
      font-size: 20px !important;
    }
    .info{
      width: 80%
    }
    .legend span{
      min-width:10px;
      min-height:10px;
      width:10px;
      height:10px;
      margin-right:4px;
    }
    .legend li{
      font-size: 12px !important;
    }

  }
  
  